In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password="root"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE zomato_orders")

In [3]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password="root",
    database="zomato_orders"
)
mycursor = mydb.cursor()

In [4]:
#Creating Customer Table

In [5]:

mycursor.execute("CREATE TABLE Customer (customer_id INT PRIMARY KEY, name VARCHAR(255), \
                 email VARCHAR(255), phone VARCHAR(50), location VARCHAR(255), signup_date DATETIME, \
                 is_premium VARCHAR(255), preferred_cuisine VARCHAR(255), total_orders INT, average_rating FLOAT)")

mycursor.execute("SHOW TABLES")
for i in mycursor:
    print(i)

('customer',)

In [6]:
#Inserting values into table

In [7]:
import pandas as pd
customer_data = pd.read_csv("C:/Users/Sajiv/Documents/AI ML Projects/Project 1/Dataset/Customer.csv")
insert_query = "INSERT INTO zomato_orders.Customer(customer_id, name, email, phone, location, signup_date, is_premium, preferred_cuisine, total_orders, average_rating) \
                values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

for index, row in customer_data.iterrows():
    mycursor.execute(insert_query,(row['customer_id'],row['name'],row['email'],row['phone'],row['location'],row['signup_date'],row['is_premium'],row['preferred_cuisine'],
                                   row['total_orders'],row['average_rating']))

In [9]:
#Creating Restaurant Table

In [10]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Restaurant(restaurant_id INT PRIMARY KEY,name VARCHAR(100), cuisine_type VARCHAR(20), location VARCHAR(50), owner_name VARCHAR(30), average_delivery_time FLOAT, \
                 contact_number VARCHAR(50), rating FLOAT, total_orders INT, is_active VARCHAR(10))")
mycursor.execute("SHOW TABLES")
for i in mycursor:
    print(i)

('customer',)
('restaurant',)

In [11]:
restaurant_data = pd.read_csv("C:/Users/Sajiv/Documents/AI ML Projects/Project 1/Dataset/Restuarants.csv")
insert_query = "INSERT INTO zomato_orders.Restaurant(restaurant_id, name, cuisine_type, location, owner_name, average_delivery_time, contact_number, rating, total_orders, is_active) \
                values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

for index, row in restaurant_data.iterrows():
    mycursor.execute(insert_query,(row['restaurant_id'],row['name'],row['cuisine_type'],row['location'],row['owner_name'],row['average_delivery_time'],row['contact_number'],row['rating'],
                                  row['total_orders'],row['is_active']))

In [12]:
#Orders Table

In [13]:
mycursor.execute("CREATE TABLE ORDERS(order_id INT PRIMARY KEY, customer_id INT, restaurant_id INT, FOREIGN KEY (customer_id) REFERENCES Customer(customer_id), FOREIGN KEY (restaurant_id) REFERENCES Restaurant(restaurant_id), order_date VARCHAR(50), delivery_time INT, STATUS VARCHAR(15), TOTAL_AMOUNT FLOAT, \
                 payment_mode VARCHAR(25), discount_applied INT, feedback_rating FLOAT)")

In [14]:
orders_data = pd.read_csv("C:/Users/Sajiv/Documents/AI ML Projects/Project 1/Dataset/Orders.csv")
insert_query = "INSERT INTO zomato_orders.Orders(order_id,customer_id,restaurant_id,order_date,delivery_time,status,total_amount,payment_mode,discount_applied,feedback_rating) \
                values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

for index, row in orders_data.iterrows():
    mycursor.execute(insert_query,(row['order_id'], row['customer_id'], row['restaurant_id'], row['order_date'], row['delivery_time'], row['status'], row['total_amount'], row['payment_mode'],
                                   row['discount_applied'], row['feedback_rating']))

In [15]:
#Deliveries Table

In [16]:
mycursor.execute("CREATE TABLE Deliveries(delivery_id INT PRIMARY KEY, order_id INT, FOREIGN KEY (order_id) REFERENCES Orders(order_id), delivery_person_id INT, \
                 delivery_status VARCHAR(20), distance INT, delivery_time INT, estimated_time INT, delivery_fee FLOAT, vehicle_type VARCHAR(20))")

In [17]:
deliveries_table = pd.read_csv("C:/Users/Sajiv/Documents/AI ML Projects/Project 1/Dataset/Deliveries.csv")
insert_query = """INSERT INTO zomato_orders.Deliveries(delivery_id, order_id, delivery_person_id, delivery_status, distance, delivery_time, estimated_time, delivery_fee, vehicle_type) \
                values (%s,%s,%s,%s,%s,%s,%s,%s,%s)"""

for index, row in deliveries_table.iterrows():
    mycursor.execute(insert_query,(row['delivery_id'], row['order_id'], row['delivery_person_id'], row['delivery_status'], row['distance'], row['delivery_time'], row['estimated_time'],
                                   row['delivery_fee'], row['vehicle_type']))